{% extends 'resumeSite/base.html' %}

{% load static %}

{% block content %}
    <div>
    <center>
    <h1> Kaelyn McHugh </h1>
    </div>

    <img class=introPhoto src="{% static 'images/IMG_1772.png'%}" alt=""/>

    <div>
        <center>
        <section>
            <div>
                <center>
                <h3>
                    Welcome to my personal website!
                </h3>
                <p>
                    Here you will find any information regarding skills and abilities 
                    in printing, publising, and editing within my portfolio, as well as a 
                    complete resume, contact informtion, scheduling for interviews or 
                    potential freelance work. Thank you for visiting and I hope you enjoy!
                </p>
            </div>
        </section>
    </div>

    <div>
    <img class=secondPhoto src="{% static 'images/IMG_2589.jpg'%}" alt=""/>
    </div>

    <center>
    <section>
        <div class=about>
            <h3>
                About me
            </h3>
            <p>
                I was raised in Winneconne, Wisconsin, a small town just north of Lake Butte des Morts.
                Growing up I was fascinated by nature, dancing, and theatre, but even more so by stories and books.
                I've been an avid reader from a very young age, and have always had a natural talent for
                writing, reading quickly, noticing grammatical errors that would often go unseen, and teaching
                those around me how to write professionally with a smile. I graduated as valedictorian from
                Winneconne highschool and am now pursuing an english degree at Minnesota State University Moorhead, 
                while also pursuing a publishing certificate at North Dakota State University. I love exploring new places,
                learning about any niche topic I can find, reading whatever novel catches my eye, writing poetry, having fun with
                friends in unique new places, and growing in my faith as a Christian.
            </p>
        </div>
    </section>

{% endblock %}