{% extends 'resumeSite/base.html' %}

{% block content %}
<center>
    <h1>
        Resume
    </h1>

    <h3>
        Schooling
    </h3>
    <div class=card>
        Winneconne High School <br>
        GPA: 4.0 <br>
        Graduation Year: 2022 <br>
        High School Diploma
    </div>
    <div class=card>
        Minnesota State University Moorhead <br>
        GPA: 4.0 <br>
        Graduation Year: 2025 <br>
        Bachelors Degree in English
    </div>
    <div class=card>
        North Dakota State University <br>
        GPA: To be determined <br>
        Graduation Year: 2025 <br>
        Certificate in Publishing
    </div>

    <h3>
        Work Experience
    </h3>
    <div class=card>
        Marketing Ideas for Printers <br>
        Time Worked: One year <br>
        Skills: Professional writing, concise communication, business research, and time management 
    </div>
    <div class=card>
        Target <br>
        Time Worked: One year <br>
        Skills: Teamwork, quick problem-solving, excellent customer service, and adaptability
    </div>

    <h3>
        Awards
    </h3>
    <div class=card>
        Valedictorian <br>
        Awarded by Winneconne High School <br> 
    </div>
    <div class=card>
        Dean's List <br>
        Awarded by Minnesota State University Moorhead <br> 
    </div>

    <h3>
        Languages
    </h3>
    <div class=card>
        English<br>
        Level: Fluent
    </div>
    <div class=card>
        Spanish<br>
        Level: Fluent
    </div>

    <h3>
        Clubs
    </h3>
    <div class=card>
        Chi Alpha<br>
        Level of involvment: active
        Leadership Roles: Small group leader
    </div>
    <div class=card>
        Creative Writing Club<br>
        Level of involvment: consistent<br>
        Leadership Roles: None, member
    </div>



{% endblock %}